<a href="https://colab.research.google.com/github/margotlbx/Homework/blob/main/Lab_based_Group_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab-based Group Assignment 1: 
## Prediction of Loyalty of Credit Applications for Risky Customers

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="drsalihtutun"><a class="LI-simple-link" href='https://www.linkedin.com/in/drsalihtutun/en-us?trk=profile-badge'>Salih Tutun, PhD</a></div>

![Imgur](https://i.imgur.com/4HJknC2.png)

### Business Problem

<font color='green'>Understand the uncertain loyalty level (for payment difficulties) of customers given his/her background information collected in the application process. </font>

### Business Objectives

This application aims to identify patterns that indicate <font color='green'>if a customer has difficulty paying their installments</font> which may be used for taking actions such as denying the loan, reducing the amount of loan, lending (to risky applicants) at a higher interest rate, etc. And this will ensure that the consumers capable of repaying the loan will not be rejected.

![Imgur](https://i.imgur.com/tyqhhLR.png)

**Credit:** Investopedia

In [ ]:
#Mount with Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive



### <font color='red'>**Q1: Please explore the given dataset** </font>

Read the dataset

In [7]:
# Import the dataset named 'credit_data.csv' 
# The data is kind of large. Please only load the first 1000 rows. 
import pandas as pd  
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Lab based Assignment 1/Dataset/Credit_Card_Dataset.csv', nrows = 1000).drop("Car Owner",axis=1)

In [8]:
#Column Description is shown below
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Lab based Assignment 1/Dataset/Credit Card Column Description.csv', sep = ';', index_col = 0)

                                                         Description
Column Name
Mobile Phone                  (0,1) 1: Client provided Mobile phone
Work Phone                      (0,1) 1: Client provided Work phone
Correct Phone Number  (0,1) 1: Phone numbers provided are reachable
City Rating                                    (1,2,3) 1 is the best
Region Rating              (1,2,3) 1 is the best
House Owner                 (0,1) 1: Client owns certain real estate
Car Owner                                 (0,1) 1: Client owns a car
Income                                          Income of the client
Document                (0,1) 1: Client provided additional document
Target                     (0,1) 1: Client with payment difficulties

In [9]:
# Please read house owner, income, document and target columns. 
#View the head of the data
#We only look at three most related factors (House Owner, Income and Document) and the dependent variable Target
data=data.loc[:,["House Owner", "Income", "Document","Target"]]
data.head(10)

   House Owner  Income  Document  Target
0            1       1         1       0
1            0       0         1       0
2            1       0         0       1
3            1       0         1       0
4            1       0         0       0
5            1       0         1       0
6            1       0         0       1
7            1       0         1       1
8            1       0         1       0
9            1       0         0       0

In [10]:
#View the main statistics of the data columns
#You may use DataFrame.description() method
data.describe()

       House Owner       Income    Document       Target
count  1000.000000  1000.000000  1000.00000  1000.000000
mean      0.707000     0.070000     0.72300     0.335000
std       0.455366     0.255275     0.44774     0.472227
min       0.000000     0.000000     0.00000     0.000000
25%       0.000000     0.000000     0.00000     0.000000
50%       1.000000     0.000000     1.00000     0.000000
75%       1.000000     0.000000     1.00000     1.000000
max       1.000000     1.000000     1.00000     1.000000

In [11]:
#View the datatype of each column
#You may use the DataFrame.info() method
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   House Owner  1000 non-null   int64
 1   Income       1000 non-null   int64
 2   Document     1000 non-null   int64
 3   Target       1000 non-null   int64
dtypes: int64(4)
memory usage: 31.4 KB

### <font color='red'>**Q2:Please prepare your dataset for the model** </font>

In [12]:
#Split the data into training set (80%) and testing set (20%)
import numpy as np

#Get all index first
all_index = np.array(data.index)


#Randomly select 80% of the index as training index
#You may use np.random.choice() to sample from a set
train_index = np.random.choice(all_index,size=int(1000*0.8),replace=False)

 
#Get the rest as the test index
#You may use np.setdiff1d() to get the complement set
test_index = np.setdiff1d(all_index,train_index)


#Split the data using the split index
train_data = data.loc[train_index,]
test_data = data.loc[test_index,]
test_data

     House Owner  Income  Document  Target
2              1       0         0       1
5              1       0         1       0
7              1       0         1       1
10             1       0         1       0
12             1       0         1       0
..           ...     ...       ...     ...
987            1       0         1       0
991            1       1         1       0
993            1       0         1       1
994            0       0         1       0
997            1       0         1       1

[200 rows x 4 columns]

### <font color='red'>**Q3:Please define your activation functions and initialize the weights of the model** </font>

In [13]:
#Build your own neural network below and print out the MSE
#If you meet difficulty, feel free to refer to "M1.6. Building Neural Networks.ipynb" 

#Define a non-linear function first
#Don't forget to define the first order derivative of your non-linear function
#To combine them together, we may add a parameter in the non-linear function

import numpy as np

def relu(x,deriv=False):
    if(deriv==True):
        
        #return the first order derivative
        return x>0
    
    #return the function
    return (x>0)*x

def sigm(x,deriv=False):
    if(deriv==True):
        return x*(1-x)

    return 1/(1+np.exp(-x))

![Imgur](https://i.imgur.com/9TVc4LU.png)

In [14]:
#What is your X value? House Owner, Income and Document. Those three factors are related to whether one can pay the installments.
X = train_data.iloc[:,0:-1].values  # we can call X as a0 as well.
    
#What is your y value? Target. That is whether one can pay the installments.
y = train_data.iloc[:,-1].values

# You need to reshape your y data into a 2-dimensional array
y = np.reshape(y,(train_data.shape[0],1)) 

    
# randomly initialize our weights with as 2x-1
w0 = 2*np.random.random((3,10)) - 1
w1 = 2*np.random.random((10,1)) - 1

w0, w1

(array([[ 0.5854111 ,  0.81262352, -0.07840713,  0.16977461, -0.82026497,
         -0.14610031,  0.11668515,  0.94233314, -0.83130901,  0.85980386],
        [ 0.6004288 ,  0.82415477, -0.22557303,  0.03451909, -0.83566892,
          0.17067682, -0.799332  , -0.94301374, -0.64321406,  0.78125728],
        [-0.39248866,  0.35640503, -0.29711684,  0.43907109,  0.98425196,
         -0.11668899, -0.21322548,  0.99731774, -0.9934868 , -0.24995036]]),
 array([[ 0.8612726 ],
        [-0.85751432],
        [ 0.12225793],
        [-0.27418097],
        [ 0.0899963 ],
        [-0.52902975],
        [ 0.94514868],
        [-0.79586885],
        [-0.21598241],
        [ 0.2588551 ]]))

![Imgur](https://i.imgur.com/85DTrAa.png)

### <font color='red'>**Q4:Please train your neural networks** </font>

In [17]:

#Write a long enough loop to train your model and minimize the cost

for j in range(60000):
    
    #forward propagation begins#
    # Feed forward through layers 0, 1, and 2
    a0 = X
    a1 = sigm(np.dot(a0,w0))
    a2 = sigm(np.dot(a1,w1))

    # how much did we miss the target value?
    a2_error= y - a2
    #forward propagation ends#
        
    # in what direction is the target value?
    # were we really sure? if so, don't change too much.
    # Backpropagation begins#
    a2_delta = a2_error*sigm(a2,deriv=True)

    # how much did each a1 value contribute to the a2 error (according to the weights)?
    a1_error = a2_delta.dot(w1.T)
    
    # in what direction is the target l1?
    # were we really sure? if so, don't change too much.
    a1_delta = a1_error * sigm(a1,deriv=True)
    # the update of weights
    w1 += a1.T.dot(a2_delta)
    w0 += a0.T.dot(a1_delta)
    # Backpropagation ends#
#Let's convert the probability into binary result
#1 means correct prediction; 0 means mistake
train_result = [1 if np.abs(e) < 0.5 else 0 for e in a2_error]

#what is our training accuracy
np.mean(train_result)

0.665

### <font color='red'>**Q5:Please test your model with test dataset** </font>

In [18]:
#Define a function to get your test error
#w0, w1 represent your trained model, test_data is your test data
def my_net(w0, w1, test_data):

    #Get your test data first
    X = test_data.iloc[:,0:3].values            
    y = test_data.iloc[:,3].values
    y = np.reshape(y,(test_data.shape[0],1)) 
    
    #Input your data in the first layer
    a0 = X
    
    #Caculate the second layer
    a1 = sigm(np.dot(a0,w0))
    
    #Caculate the third layer
    a2 = sigm(np.dot(a1,w1))
    
    #What is your error?
    a2_error = y - a2
    
    #Finally return your error
    test_result = [1 if np.abs(e) < 0.5 else 0 for e in a2_error]
    return np.mean(test_result)

#Print the score
my_score = my_net(w0, w1, test_data)
print("Test Accuracy: " + str(my_score))

Test Accuracy: 0.665

If you have questions, please contact with me.

Salih Tutun, PhD

salihtutun@wustl.edu