In [9]:
scores_list = [["Jake", 10], ["Joe", 5], ["Jake", 12], ["Ellen", 20], ["Ellen", 2], ["Joe", 14]]

D_scores = {}

for pair in scores_list:

    name = pair[0]
    score = pair[1]


    if name in D_scores:
        D_scores[name]+=score
    else:
        D_scores[name] =score
    
D_scores

{'Jake': 22, 'Joe': 19, 'Ellen': 22}

In [11]:
a=(1,2)
type(a)

tuple

In [12]:
#concatenation
(1,2) + (3,4)

(1, 2, 3, 4)

In [13]:
#single number, must include a comma
(4,)

(4,)

In [14]:
#Indexing works
a=(1,2,3,4)
a[1:3]

(2, 3)

In [15]:
#tuple is immutable
t=(1,2,3,4)
t[1]=0

TypeError: 'tuple' object does not support item assignment

In [16]:
#tuples can be object in for loop
a=(1,2,3,4)
total=0
for i in a:
    total+=i
total

10

In [26]:
name = "Jaqe"
correct_name = name.replace("q","k")

name
correct_name

'Jake'

In [28]:
sentence = "Hello World."

sentence.find("f")
sentence.find("H")

0

In [33]:
line = "I went to the store"
words = line.split(" ")

words

['I ', 'ent to the store']

In [39]:
line = "    I went to the store." 
new_line = line.strip(' .')

print(new_line)

I went to the store

In [43]:
line = "    I went to the store." 
new_line = line.strip(' .').split(" ")

new_line

['I', 'went', 'to', 'the', 'store']

In [46]:
L = [1,2,3]
#L+=[4]
L.append(4) #save extra copy step

L

[1, 2, 3, 4]

In [47]:
L = [4,5,1]
L.sort() #lose the original version order

L

[1, 4, 5]

In [48]:
L = [4,5,1]
sorted_L = sorted(L)
print(sorted_L)
print(L)

[1, 4, 5]
[4, 5, 1]

In [68]:
L = [4,5,1]
index_five = sorted(L).index(5) #if cannot find 5 ex.10 will get an error, find will get -1
index_five

2

In [58]:
L=[4,5,1,5,12,3,4,1,5,7,8]

find_fives=[]

for i in range(len(L)):
    if L[i]==5:
        find_fives.append(i)
    
find_fives

[1, 3, 8]

In [59]:
#one line code for previous code
find_fives = [i for i in range(len(L))if L[i]==5]
find_fives

[1, 3, 8]

In [66]:
L=[4,5,1,5,12,3,4,1,5,7,8]
x=L.sort()

print(x)

None